# ---> C
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# ---> C++
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

# ---> MDK5
# obj dir
*.crf
*.axf
*.sct
*.iex
*.d
*.lnp
*.dep
/device/ESP8266_LUA/init - 副本.lua
/device/ESP8266_LUA/test23232 - 副本.lua
/device/ESP8266_LUA/config - 副本.txt
/device/ESP8266_LUA/favicon - 副本.ico
/device/ESP8266_LUA/file - 副本.lua
/device/ESP8266_LUA/filetest - 副本.lua
/device/ESP8266_LUA/getconfigfile - 副本.lua
/device/ESP8266_LUA/index - 副本.html
/device/ESP8266_LUA/login - 副本.html
/device/ESP8266_LUA/main - 副本.lua
/device/ESP8266_LUA/main_old - 副本.lua
/device/ESP8266_LUA/nettest - 副本.lua
/device/ESP8266_LUA/script1 - 副本.lua
/device/ESP8266_LUA/sjsontest - 副本.lua
/device/ESP8266_LUA/spitest - 副本.lua
/device/ESP8266_LUA/spi接线 - 副本.png
/device/ESP8266_LUA/temp - 副本/getconfigtestcustom.lua
/device/ESP8266_LUA/test - 副本.lua
/device/ESP8266_LUA/test212 - 副本.lua
/device/ESP8266_LUA/usarttest - 副本.lua
/device/ESP8266_LUA/websockettest - 副本.lua
/device/ESP8266_LUA/wifitest - 副本.lua
/device/ESP8266_LUA/固件 - 副本/_temp_by_dltool/downloadPanel1/nodemcu-master-10-modules-2018-12-27-12-07-33-integer.bin_rep
/device/ESP8266_LUA/固件 - 副本/nodemcu-master-10-modules-2018-12-27-12-07-33-integer.bin
/device/ESP8266_LUA/sjsontest - 副本.lua
/device/ESP8266_LUA/spitest - 副本.lua
/device/ESP8266_LUA/spi接线 - 副本.png
/device/ESP8266_LUA/temp - 副本/getconfigtestcustom.lua
/device/ESP8266_LUA/test - 副本.lua
/device/ESP8266_LUA/test212 - 副本.lua
/device/ESP8266_LUA/usarttest - 副本.lua
/device/ESP8266_LUA/websockettest - 副本.lua
/device/ESP8266_LUA/wifitest - 副本.lua
/device/ESP8266_LUA/固件 - 副本/_temp_by_dltool/downloadPanel1/nodemcu-master-10-modules-2018-12-27-12-07-33-integer.bin_rep
/device/ESP8266_LUA/固件 - 副本/nodemcu-master-10-modules-2018-12-27-12-07-33-integer.bin
/device/ESP8266_LUA/test212.lua
/device/esp-ginx/bin/0x00000.bin
/device/esp-ginx/bin/0x10000.bin
/device/esp-ginx/app/.output
