# ---> C
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# ---> C++
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/device/ESP8266_Communication/OBJ/USMART.axf
/device/ESP8266_Communication/OBJ/USMART.build_log.htm
/device/ESP8266_Communication/OBJ/USMART.htm
/device/ESP8266_Communication/OBJ/USMART.lnp
/device/ESP8266_Communication/OBJ/USMART.sct
/device/ESP8266_Communication/OBJ/USMART_Target 1.dep
/device/ESP8266_Communication/OBJ/core_cm3.crf
/device/ESP8266_Communication/OBJ/core_cm3.d
/device/ESP8266_Communication/OBJ/delay.crf
/device/ESP8266_Communication/OBJ/delay.d
/device/ESP8266_Communication/OBJ/esp8266.crf
/device/ESP8266_Communication/OBJ/esp8266.d
/device/ESP8266_Communication/OBJ/esp8266device.crf
/device/ESP8266_Communication/OBJ/esp8266device.d
/device/ESP8266_Communication/OBJ/jansson_config.crf
/device/ESP8266_Communication/OBJ/jansson_config.d
/device/ESP8266_Communication/OBJ/led.crf
/device/ESP8266_Communication/OBJ/led.d
/device/ESP8266_Communication/OBJ/main.crf
/device/ESP8266_Communication/OBJ/main.d
/device/ESP8266_Communication/OBJ/misc.crf
/device/ESP8266_Communication/OBJ/misc.d
/device/ESP8266_Communication/OBJ/startup_stm32f10x_hd.d
/device/ESP8266_Communication/OBJ/stm32f10x_gpio.crf
/device/ESP8266_Communication/OBJ/stm32f10x_gpio.d
/device/ESP8266_Communication/OBJ/stm32f10x_it.crf
/device/ESP8266_Communication/OBJ/stm32f10x_it.d
/device/ESP8266_Communication/OBJ/stm32f10x_rcc.crf
/device/ESP8266_Communication/OBJ/stm32f10x_rcc.d
/device/ESP8266_Communication/OBJ/stm32f10x_tim.crf
/device/ESP8266_Communication/OBJ/stm32f10x_tim.d
/device/ESP8266_Communication/OBJ/stm32f10x_usart.crf
/device/ESP8266_Communication/OBJ/stm32f10x_usart.d
/device/ESP8266_Communication/OBJ/sys.crf
/device/ESP8266_Communication/OBJ/sys.d
/device/ESP8266_Communication/OBJ/system_stm32f10x.crf
/device/ESP8266_Communication/OBJ/system_stm32f10x.d
/device/ESP8266_Communication/OBJ/usart.crf
/device/ESP8266_Communication/OBJ/usart.d
